{
  "extends": [
    "next/core-web-vitals",
    "plugin:@next/next/recommended",
    "plugin:prettier/recommended"  ],
  "rules": {},
  "settings": {
		"import/resolver": {
			"typescript": {}
		}
	}
}
