{
  "extends": [
    "next/core-web-vitals",
    "plugin:@next/next/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "react/no-unescaped-entities": "warn",
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  }
}
