{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "import",
    "unused-imports"
  ],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "next/core-web-vitals",
    "plugin:@next/next/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "react-hooks/exhaustive-deps": 0,
    "react/no-unescaped-entities": 0,
    "import/order": ["error", {
      "groups": ["builtin", "external", ["internal", "parent", "sibling"], "index", "object", "type"]
    }],
    "unused-imports/no-unused-imports": "error",
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "import/named": "error"
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  }
}
