html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Red Hat Text', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #1b1657;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}


@font-face {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 400;
  src: local(''),
      url('/fonts/red-hat-text-v6-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('/fonts/red-hat-text-v6-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* red-hat-text-500 - latin */
@font-face {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  src: local(''),
      url('/fonts/red-hat-text-v6-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('/fonts/red-hat-text-v6-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* red-hat-display-700 - latin */
@font-face {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 700;
  src: local(''),
      url('/fonts/red-hat-display-v7-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('/fonts/red-hat-display-v7-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'TeX Gyre Adventor';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/texgyreadventor-regular-webfont.woff');
}
@font-face {
  font-family: 'TeX Gyre Adventor';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/texgyreadventor-bold-webfont.woff');
}

.bn-onboard-custom {
  z-index: 10000;
}

html {
  font-size: 10px;
}

@media only screen and (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}
